%h1 Parent Panel

= alert

.jumbotron
  .col-sm-6.col-md-6.col-lg-6.jumbotron
    .h3 Add new event
    = render 'events/form'
  .col-sm-6.col-md-6.col-lg-6.jumbotron
    .h3 Members of #{current_user.family.name} family:
    - family_members.each do |member|
      %li= link_to member.email, member
    %br/
    %br/
    %a.btn.btn-default{:href => new_user_invitation_path, :role => "button"} Add new member





