%h1 Parent Panel

= alert

.left
  = render 'events/form'

.right
  %h3= link_to 'Send invitation', new_user_invitation_path
  %table
    %thead
      %tr
        %th Family members
    %tbody
      - family_members.each do |member|
        %tr
          %td= link_to member.email, member




